@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-----------------------------------------------------------------*/
/* 1. CSS RESET
/*-----------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0px;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	margin: 0;
	min-height: 100%;
	padding: 0;
	width: 100%;
}

img {
	border: 0;
	height:auto;
	max-width: 100%;
	vertical-align: middle;
	width: auto;
}

input[type="text"],input[type="password"],input[type="email"], textarea, select {
	background-color: #fff;
	border: 1px solid #e9eaec;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font: inherit;
	height: 60px;
	width: 100%;
}

/*-----------------------------------------------------------------*/
/* Global styles
/*-----------------------------------------------------------------*/
html {
	color: #777c88;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
}

body {
	background-color: #f4f4f4;
	font-size: 1rem;
}

h1, h2, h3, h4 {
	color: inherit;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	line-height: 1.5em;
}

a {
	color: inherit;
	text-decoration: none;
}

main, nav {
	margin: 0 auto;
	max-width: 1170px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul > li {
	background-color: transparent;
	border: 2px solid #2980b9;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #2980b9;
	cursor: pointer;
	display: inline;
	float: left;
	list-style-type: none;
	margin-left: -2px;
	padding: 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

ul li:first-child {
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

ul li:not(:first-child):not(:last-child) {
	border-radius: 0;
	-webkit-border-radius: 0;
}

ul li:last-child {
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-right: 2px solid #2980b9;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

input {
	background-color: #fff;
	border: 1px solid #e9eaec;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 16px;
	height: 45px;
	margin: 0 0 20px 0;
	outline: 0;
	padding: 6px 0 7px 10px;
}

textarea {
	background-color: #fff;
	border: 1px solid #e9eaec;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 180px;
	margin: 0 0 21px 0;
	padding: 6px 0 7px 10px;
}

/*-----------------------------------------------------------------*/
/* App styles
/*-----------------------------------------------------------------*/

#main-header {
	background-color: #2980b9;
  	color: inherit;
	display: flex;
	justify-content: center;
  	padding: 20px;
}

.logo {
	width: 80%;
}

.title {
	padding: 0 0 50px 0;
}

.app-name {
  	display: flex;
	justify-content: flex-start;
	padding: 5px;
}

.app-name h3 {
	color: #fff;
	margin: 0 0 0 15px;
}

.app-name::before {
	color: #fff;
  	content: "\f249";
  	font-family: "FontAwesome";
  	font-size: 2rem;
}

.styleSwitcher,
.changeStyle {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-size: 15px;
	height: 40px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	width: 20%;
}

.styleSwitcher select,
.changeStyle select {
	border: none;
	cursor: pointer;
	height: 38px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.styleSwitcher span,
.changeStyle span {
	box-sizing: border-box;
	float: left;
	font-weight: 600;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 36px;
	text-align: left;
	text-overflow: ellipsis;
	width: 100%;
}

.styleSwitcher::after,
.changeStyle::after {
	content: "\f107";
	display: block;
	font-family: "FontAwesome";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	position: absolute;
	right: 12px;
	speak: none;
	text-decoration: inherit;
	text-rendering: auto;
	top: 9px;
	-webkit-font-smoothing: antialiased;
}

#notes {
	width: 100%;
}

.edit {
	display: flex;
	flex: 2;
}

.notes-container {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
  	display: flex;
	height: 800px;
}

.content-three {
	align-items: center;
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
  	flex: 1;
	height: 100%;
	justify-content: center;
}

.required {
    color: red;
}

.btn {
  	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: inherit;
	font-weight: 400;
	line-height: 1.42857143;
	padding: 15px;
  	text-align: center;
  	touch-action: manipulation;
	vertical-align: middle;
}

.btn-add {
	background-color: #2980b9;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-add:hover {
	background-color: #206694;
	color: #fff;
}

.btn-add:before {
	content: '\f067';
	font-family: "FontAwesome";
	margin: 0 5px 0 0;
}

.btn-new {
	background-color: #1abc9c;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-new:hover {
	background-color: #16a085;
	color: #fff;
}

.btn-new:before {
	content: '\f067';
	font-family: "FontAwesome";
	margin: 0 5px 0 0;
}

.btn-cancel {
	background-color: transparent;
	border: 2px solid #2980b9;
	color: #2980b9;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-cancel:hover {
	background-color: #bdc3c7;
	color: #2980b9;
}

.btn-update {
	background-color: #2980b9;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-update:hover {
	background-color: #206694;
	color: #fff;
}

.btn-edit,
.btn-delete {
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	margin: 0 0 0 10px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: inherit;
	padding: 8px;
	text-align: center;
	touch-action: manipulation;
	vertical-align: middle;
}

.icon-note-edit::before {
  	content: '\f040';
  	font-family: "FontAwesome";
  	margin: 5px;
}

.icon-note-delete::before {
  	content: '\f1f8';
  	font-family: FontAwesome;
  	margin-right: 5px;
}

.note-item {
	background-color: #fff;
	border-top: none;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.12) 0px 1px 2px 0px;
	height: 113px;
	margin-top: 20px;
	padding: 15px 20px;
}

.note-infos {
	display: flex;
	width: 100%;
}

.note-action {
	width: 5%;
}

.note-content {
	width: 55%;
}

.note-meta {
	font-size: 14px;
	text-align: right;
	width: 40%;
}

.note-properties {
	float: right;
	margin-top: -25px;
}

.info {
	display: flex;
	flex: 2;
	margin: 30px 0;
}

.sort {
  	display: flex;
  	flex: 2;
}

.addNotes {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

.buttonbar {
	display: flex;
	flex: 2;
	justify-content: center;
}

.buttonbar-item {
    margin: 10px;
}

.addNotes {
	align-items: center;
	display: flex;
	flex: 1;
}

.sortOrder {
	align-items: center;
	display: flex;
	flex: 2;
}

.finishedNotes {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

#showFinished {
	background-color: #2980b9;
	border: none;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	max-width: 230px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

.spacer {
	margin-top: 40px;
}

.form-content-item {
	margin: 0 auto;
}

.uniqId {
	display: none;
}